<style>
  .academy-reviews__container {
    padding: 100px 20px;
  }

  .academy-reviews__title {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .academy-reviews__text {
    color: #111;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin: 0 auto 60px;
    max-width: 899px;
  }

  .academy-reviews__slide {
    text-align: center;
  }

  .academy-reviews__slide img {
    width: 246px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0 auto;
  }

  .academy-reviews__slideTitle {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    text-transform: uppercase;
    margin: 30px 0 10px;
  }

  .academy-reviews__slideText {
    color: #111;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0;
  }

  .swiper3 {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper3 .swiper-slide {
    height: auto;
  }

  .academy-reviews__slide > div {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 250px;
    box-sizing: border-box;
  }

  .swiper-pagination3 {
    text-align: center;
    margin-top: 50px;
    display: none;
  }

  .swiper-wrapper__arrow1 {
    position: absolute;
    left: 250px;
    top: 50%;
    z-index: 9999;
  }

  .swiper-wrapper__arrow2 {
    position: absolute;
    right: 250px;
    top: 50%;
    z-index: 9999;
  }

  @media (max-width: 1280px) {
    .swiper-wrapper__arrow1 {
      display: none;
    }

    .swiper-wrapper__arrow2 {
      display: none;
    }

    .swiper-pagination3 {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .academy-reviews__slide > div {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
    }

    .swiper3 .swiper-slide {
      height: auto;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .swiper-pagination3 {
      margin-top: 20px;
    }
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<section class="academy-reviews">
  <div class="academy-reviews__container page-width">
    <h2 class="academy-reviews__title">Reviews</h2>
    <p class="academy-reviews__text">Discover stories from students who have transformed their lives through Kawasaki Academy, achieving personal and professional success.</p>

    <div class="swiper3">
      <img class="swiper-wrapper__arrow1" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Arrow_10.svg?v=1726811084" />
      <img class="swiper-wrapper__arrow2" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Arrow_11.svg?v=1726811084" />

      <!-- Additional required wrapper -->
      <div class="academy-reviews__wrapper swiper-wrapper">

        <div class="academy-reviews__slide swiper-slide">
          <div>
            <img class="academy-reviews__slideImg" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/academy-reviews-img1.png?v=1726213471" />
            <h3 class="academy-reviews__slideTitle">Overseas Treatment Experience Led to Confidence and Success as a Salon Owner</h3>
            <p class="academy-reviews__slideText">I attended the academy to enhance my salon services and found tremendous growth in myself. The opportunity to participate in an international event in Monaco boosted my confidence and reaffirmed my commitment to offering the best to my clients.</p>
          </div>
        </div>

        <div class="academy-reviews__slide swiper-slide">
          <div>
            <img class="academy-reviews__slideImg" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/academy-reviews-img2.jpg?v=1726214549" />
            <h3 class="academy-reviews__slideTitle">A Life-changing Encounter Led to a New Career in Beauty</h3>
            <p class="academy-reviews__slideText">Inspired by an information session at the academy, I transitioned from an office job to a spa career. The courses taught me self-care, professionalism, and opened new horizons, leading to a fulfilling career in beauty.</p>
          </div>
        </div>

        <div class="academy-reviews__slide swiper-slide">
          <div>
            <img class="academy-reviews__slideImg" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/academy-reviews-img3.jpg?v=1726214549" />
            <h3 class="academy-reviews__slideTitle">Self-love and Transformation Through The Kawasaki Way</h3>
            <p class="academy-reviews__slideText">The academy taught me to care for myself and others, transforming my outlook on life. The positive changes I experienced have made me more energetic and youthful, motivating me to share these benefits with my loved ones.</p>
          </div>
        </div>
      
      </div>

      <div class="swiper-pagination3"></div>

    </div>
  </div>
</section>

<script>
  const swiper3 = new Swiper('.swiper3', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    pagination: {
      el: '.swiper-pagination3',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-wrapper__arrow2',
      prevEl: '.swiper-wrapper__arrow1',
    },

    autoplay: {
      delay: 5000,
    },
  });
</script>