<style>
  .home-products h2 {
    color: #000;
    text-transform: uppercase;
    margin: 0 0 20px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
  }

  .home-products p {
    color: #111;
    text-align: center;
    margin: 0 auto;
    width: 60%;
  }

  .home-products__container {
    padding: 100px 0;
  }

  .home-products__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    background: #00004E;
    margin: 50px auto 0;
    align-self: auto;
    position: relative;
    width: fit-content;
  }

  .products-productLink {
    display: none !important;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .home-products__container {
      padding: 50px 25px;
    }
  }

  /* Mobile */
  @media screen and (max-width: 600px) {
    .home-products p {
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
    }
  }
</style>

<section id="products" class="home-products">
  <div class="page-width home-products__container">
    <h2 class="home-products__animation1 heading">{{ 'sections.home-products.title' | t }}</h2>
    <p class="home-products__animation1 bodyText">{{ 'sections.home-products.description' | t |  replace: 'htmlbr','<br>' }}</p>
    {% render 'products-row' %}
    <a href="{% unless shop.locale == 'en' %}/{{ shop.locale }}{% endunless %}/pages/products" class="home-products__button">{{ 'sections.home-products.button' | t }}</a>
  </div>
</section>