<style>
  .home-hero {
    position: relative;
  }

  .home-hero__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: calc(100vh - 90px);
    aspect-ratio: 16/9;
    width: 100%;
  }

  .home-hero__card {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  .home-hero__card:first-child {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/15a7c0edfb00a5503a390e9e4901c341.jpg?v=1724394183');
    background-size: cover;
    background-position: center;
  }

  .home-hero__card:nth-child(2) {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/2b9f120aed568ee24846dcdfc21c31f7.jpg?v=1724394376');
    background-size: cover;
    background-position: center;
  }

  .home-hero__card:nth-child(3) {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/b6844c18f1ed35f2d9f2aa1368cde14e.jpg?v=1724394457');
    background-size: cover;
    background-position: center;
  }

  .home-hero__circle {
    width: 338px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 338px;
    background: rgba(8, 5, 69, 0.80);
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  .home-hero__circle h2 {
    color: #FFF;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }

  .home-hero__circle span {
    color: #DF1616;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .home-hero__bottom {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 196px;
    bottom: 0;
  }

  .home-hero__wave1 {
    position: absolute;
    bottom: 0;
  }

  .home-hero__wave2 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-hero__logo {
    display: block;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
  }

  .home-hero__bottomText {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 22.1px rgba(0, 0, 0, 0.40);
    font-family: "Belfast SF";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin: 0 auto 20px;
    width: 100%;
  }
</style>

<section class="home-hero">
  <div class="home-hero__main">
    <div class="home-hero__card">
      <div class="home-hero__circle">
        <h2>products</h2>
        <span>kazumasa kawasaki</span>
      </div>
    </div>
    <div class="home-hero__card">
      <div class="home-hero__circle">
        <h2>le spa de</h2>
        <span>kazumasa kawasaki</span>
      </div>
    </div>
    <div class="home-hero__card">
      <div class="home-hero__circle">
        <h2>academy</h2>
        <span>kazumasa kawasaki</span>
      </div>
    </div>
  </div>
  <div class="home-hero__bottom">
    <svg class="home-hero__wave1" xmlns="http://www.w3.org/2000/svg" width="1920" height="134" viewBox="0 0 1920 134" fill="none">
      <path d="M766.909 30.6886C257.66 -112.251 245.284 302.574 -676.686 88.664L-720 472H1866.47C1954.95 316.899 2179.39 8.38171 1995.79 58.177C1406.1 218.109 990.285 93.3873 766.909 30.6886Z" fill="#080545" fill-opacity="0.5"/>
    </svg>
    <svg class="home-hero__wave2" xmlns="http://www.w3.org/2000/svg" width="1920" height="196" viewBox="0 0 1920 196" fill="none">
      <path d="M1099.4 30.6886C644.437 -112.251 633.38 302.574 -190.303 88.664L-229 472H2081.74C2160.79 316.899 2361.3 8.38171 2197.27 58.177C1670.45 218.109 1298.96 93.3873 1099.4 30.6886Z" fill="#080545" fill-opacity="0.7"/>
    </svg>

    <div class="home-hero__logo">
      <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KAZU.svg?v=1724395912" />
    </div>

    <h3 class="home-hero__bottomText">KAWASAKI way</h3>
  </div>
</section>