<style>
  .home-kkWayContent {
    position: relative;
  }

  .home-kkWayContent {
    padding: 100px 0px;
    background: #080545;
    color: #fff;
  }

  .home-kkWayContent__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .home-kkWayContent p {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 576px;
    margin: 0;
    z-index: 1;
  }

  .home-kkWayContent a {
    display: inline-block;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    z-index: 1;
  }

  .home-kkWayContent__logo {
    width: 81px;
    max-width: 125.767px;
    min-width: 48px;
    z-index: 1;
  }

  .home-kkWayContent__title {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 22.1px rgba(0, 0, 0, 0.40);
    font-family: "Bodoni Moda", serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 12.6px;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
  }

  .home-kkWayContent__shape1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .home-kkWayContent__shape2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  .home-kkWayContent__shape3 {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
    top: 0;
  }

  .home-kkWayContent {
    display: none !important;
  }

  @media (max-width: 1024px) {
    .home-kkWayContent {
      display: block !important;
    }
  }

  @media (orientation: portrait) {
    .home-kkWayContent {
      padding: 100px 25px;
    }

    .home-kkWayContent__title {
      font-size: 32px;
    }
  }
</style>

<section id="kkWaySection" class="home-kkWayContent">
  <div class="home-kkWayContent__container page-width">
    <img class="home-kkWayContent__logo home-kkWayContent__animation1"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KAZU.svg?v=1724395912" />
    <h1 class="home-kkWayContent__title home-kkWayContent__animation1">KAWASAKI way</h1>
    <p class="home-kkWayContent__animation1">{{ 'sections.home-kk-way-content.content' | t }}</p>
    <a href="/pages/kawasaki-way">Learn More</a>
    <img class="home-kkWayContent__shape1"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Vector_6kk-way-content.svg?v=1727418737">
    <img class="home-kkWayContent__shape2"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Vector_5kk-way-content.svg?v=1727418737">
    <img class="home-kkWayContent__shape3"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Vector_4kk-way-content.svg?v=1727418737">
  </div>
</section>