<style>
  .home-hero {
    position: relative;
  }

  .home-hero__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: calc(100vh - 90px);
    aspect-ratio: 2.11/1;
    width: 100%;
  }

  .home-hero__card {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  .home-hero__card:first-child {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/Product_New_0903_HP.jpg?v=1725600033');
    background-size: 140%;
    background-position: bottom 0 right 0;
  }

  .home-hero__card:nth-child(2) {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/2b9f120aed568ee24846dcdfc21c31f7.jpg?v=1724394376');
    background-size: cover;
    background-position: center;
  }

  .home-hero__card:nth-child(3) {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/b6844c18f1ed35f2d9f2aa1368cde14e.jpg?v=1724394457');
    background-size: cover;
    background-position: center;
  }

  .home-hero__circle {
    width: 21.125vw;
    height: 21.125vw;
    flex-shrink: 0;
    border-radius: 100%;
    background: rgba(8, 5, 69, 0.80);
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    transition: .3s;
  }

  .home-hero__circle:hover {
    transform: scale(110%);
    transition: .3s;
  }

  .home-hero__circle h2 {
    color: #FFF;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Libre Bodoni", serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 40px */
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }

  .home-hero__circle span {
    color: #DF1616;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Libre Bodoni", serif;
    font-size: 1.125vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .home-hero__bottom {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 196px;
    bottom: 0;
  }

  .home-hero__wave1 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-hero__wave2 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-hero__logo {
    display: block;
    position: absolute;
    bottom: 5vw;
    width: 100%;
    text-align: center;
  }

  .home-hero__logo img {
    width: 3.125vw;
  }

  .home-hero__bottomText {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 22.1px rgba(0, 0, 0, 0.40);
    font-family: "Belfast SF";
    font-size: 3.125vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin: 0 auto 20px;
    width: 100%;
  }

  @media (orientation: portrait) {
    .home-hero__main {
      display: flex;
      flex-direction: column;
      max-height: auto;
      aspect-ratio: unset;
      width: 100%;
    }

    .home-hero__circle {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      border-radius: 0;
      background: rgba(8, 5, 69, 0.80);
      display: grid;
      text-align: left;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      aspect-ratio: 1/1;
      margin: 0;
      border-top-left-radius: 0;
      padding: 0;
    }

    .home-hero__card {
      aspect-ratio: 3/2;
      overflow: hidden;
    }

    .home-hero__circle h2 {
      color: #FFF;
      margin: 0 0 10px;
      text-align: center;
      text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
      font-family: "Libre Bodoni", serif;
      font-size: 7.5vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 40px */
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }

    .home-hero__circle span {
      color: #DF1616;
      text-align: center;
      text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
      font-family: "Libre Bodoni", serif;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      /* 18px */
      letter-spacing: 1.62px;
      text-transform: uppercase;
    }

    .home-hero__bottomText {
      display: none;
    }

    .home-hero__logo {
      bottom: 0;
    }

    .home-hero__wave1,
    .home-hero__wave2 {
      height: 100px;
    }


    .home-hero__logo {
      bottom: 10px;
    }

    .home-hero__logo img {
      height: 48px;
      width: 100%;
    }
  }
</style>

<section class="home-hero">
  <div class="home-hero__main">
    <div class="home-hero__card">
      <a href="/pages/products" class="home-hero__circle">
        <h2>products</h2>
        <span>kazumasa kawasaki</span>
      </a>
    </div>
    <div class="home-hero__card">
      <a href="/pages/spa" class="home-hero__circle">
        <h2>le spa de</h2>
        <span>kazumasa kawasaki</span>
      </a>
    </div>
    <div class="home-hero__card">
      <a href="#academySection" class="home-hero__circle">
        <h2>academy</h2>
        <span>kazumasa kawasaki</span>
      </a>
    </div>
  </div>
  <div style="display: none;" class="home-hero__bottom">
    <img class="home-hero__wave1"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-home-wave1.svg?v=1724821827" />
    <img class="home-hero__wave2"
      src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-home-wave2.svg?v=1724821630" />
    <div class="home-hero__logo">
      <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KAZU.svg?v=1724395912" />
    </div>

    <h3 class="home-hero__bottomText">KAWASAKI way</h3>
  </div>
</section>