<style>
  .home-academy {
    background: #F6F6F6;
    padding: 80px 0;
  }

  .home-academy__top {
    text-align: center;
  }

  .home-academy__topSub1 {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .home-academy__top h2 {
    color: #000;
    text-align: center;
    font-family: "Libre Bodoni", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .home-academy__topSub2 {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
  }

  .home-academy__middle {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    padding: 0 8.563vw;
    gap: 8.563vw;
    margin: 70px 0;
    align-items: center;
  }

  .home-academy__middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-academy__middle p {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0;
  }

  .home-academy__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 8.563vw;
    margin: 0 auto;
    column-gap: 40px;
  }

  .home-academy__bottomColumn {
    text-align: center;
    max-width: 233px;
  }

  .home-academy__bottomColumn h3 {
    color: #000;
    text-align: center;
    font-family: "Libre Bodoni", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .home-academy__bottomColumn p {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0;
  }

  .home-academy__cta {
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-academy__cta h2 {
    color: #000;
    text-align: center;
    font-family: "Libre Bodoni", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin: 0 0 40px;
  }

  .home-academy__cta a {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .home-academy {
      padding: 50px 20px;
    }

    .home-academy__middle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      gap: 40px;
      margin: 70px 0;
      align-items: center;
    }
  }

  /* Mobile */
  @media (orientation: portrait) {
    .home-academy__middle {
      display: flex;
      flex-direction: column;
    }

    .home-academy__middle img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    .home-academy__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      gap: 20px;
    }

    .home-academy__bottomColumn {
      max-width: 100%;
      width: 100%;
      padding: 20px;
      background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
      border-radius: 10px;
    }

    .home-academy__cta h2 {
      font-size: 16px;
      line-height: 1.5;
    }
  }
</style>

<section id="academySection" class="home-academy">
  <div class="home-academy__container page-width">
    <div class="home-academy__top">
      <span class="home-academy__topSub1">academy</span>
      <h2>KAZUMASA KAWASAKI</h2>
      <span class="home-academy__topSub2">TOKYO</span>
    </div>
    <div class="home-academy__middle">
      <img src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-home-academy.jpg?v=1724648347" width="100%" />
      <p>Since its inception in 2013, KAWASAKI ACADEMY has been a beacon for those seeking to enrich their lives by
        balancing inner and outer beauty. Our academy offers a space to reconnect with your authentic self, restore
        balance, and unlock the potential to achieve your dreams, goals, and future aspirations.
        <br><br>
        At KAWASAKI ACADEMY, we teach the essentials for living a happy, fulfilled life, empowering you to shape your
        journey with creativity and intention.
      </p>
    </div>
    <div class="home-academy__bottom">
      <div class="home-academy__bottomColumn">
        <h3>1,000+</h3>
        <p>students who have built successful careers</p>
      </div>
      <div class="home-academy__bottomColumn">
        <h3>30</h3>
        <p>self-improvement courses</p>
      </div>
      <div class="home-academy__bottomColumn">
        <h3>4</h3>
        <p>special programs</p>
      </div>
    </div>
    <div class="home-academy__cta">
      <h2 class="home-academy__ctaTitle">Design Your Life Like Art.<br>Learn the Kawasaki Way.</h2>
      <a href="#contact_section" class="home-academy__ctaButton">Talk to us</a>
    </div>
  </div>
</section>