<style>
  .faq-accordion__title {
    color: #111;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 96px */
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
  
  .faq-accordion__category {
    margin: 60px 0 20px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .faq-accordion__container {
    padding: 100px 20px;
    color: #000;
  }

  .faq-accordion .collapse {
    border-radius: 0;
    background: #F6F6F6;
    padding: 20px;
  }

  .faq-accordion .collapse:not(:last-child) {
    margin-bottom: 10px;
  }

  .faq-accordion .collapse-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .faq-accordion .collapse h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 0;
  }
  
  .faq-accordion .collapse-content p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    color: #111;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  
  @media (max-width: 600px) {
    .faq-accordion__container {
      padding: 50px 20px;
    }

    .faq-accordion__title {
      font-size: 40px;
    }

    .faq-accordion__category {
      margin: 40px 0 20px;
      font-size: 32px;
    }

    .faq-accordion .collapse-title {
      font-size: 18px;
    }

    .faq-accordion .collapse h3 {
      font-size: 16px;
    }
    
    .faq-accordion .collapse-content p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
</style>

<section class="faq-accordion">
  <div class="faq-accordion__container page-width">
    <h1 class="faq-accordion__title faq-accordion__anim1">FAQ</h1>
    <h2 class="faq-accordion__category">Shopping Guide</h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">About Membership Registration</div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">New Member Registration</h3>
        <p>Registering as a free member of the **Kazumasa Kawasaki** online shop makes your shopping experience more convenient. To register, please visit our [New Member Registration Page]. Ensure you read our [Privacy Policy] before registering.

        Choose a secure password to protect your account, and use a valid email address. If the email address is incorrect, you may not receive your registration confirmation. Check your spam folder or adjust your email settings to ensure our messages are delivered.
        
        For password resets, select "Forgot your password?" on the login screen, enter your registered email, and follow the instructions to reset your password.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">About Your Order</div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">How to Order</h3>
        <p>Select the quantity on the product page and add items to your shopping cart. You can adjust quantities or remove items before proceeding. Ensure all details, such as product name and price, are correct before completing your order.

        Stock is not reserved until your purchase is completed, and high demand may result in stock shortages. Please complete your order promptly to secure your items.</p>
        <h3 class="faq-accordion__subtitle">Confirmation of Your Order</h3>
        <p>Once your order is placed, you'll receive a confirmation email within minutes. Please verify the order details. If you do not receive an email, check your spam folder or verify your email address.

        Duplicate order confirmations may indicate multiple submissions; please contact the Altis Customer Support Desk for assistance.</p>
        <h3>Additional Orders and Order Consolidation</h3>
        <p>We do not offer consolidation of orders once placed. Please review your cart carefully before finalizing your purchase.</p>
        <h3>Order Cancellation</h3>
        <p>Orders cannot be modified or canceled after completion. Please review your order details carefully. Changes or cancellations can be handled within seven days of product receipt, in accordance with our [Return Policy]. Contact the Altis Customer Support Desk for assistance.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">Payment</div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">Payment Methods</h3>
        <p>We accept payments via credit cards, PayPal, and cash on delivery.</p>
        <h3>Credit Cards</h3>
        <p>We accept VISA, MasterCard, AMEX, JCB, and Diners Club. Payments should comply with your card issuer's terms.</p>
        <h3>PayPal</h3>
        <p>Learn more about [PayPal Payments]. For supported cards, visit the [PayPal website]</p>
        <h3>Cash on Delivery</h3>
        <p>We deliver orders using Yamato Transport's COD service, payable to the driver upon arrival. A COD fee applies:
        <br><br>
        - Up to ¥10,000: ¥440<br>
        - Up to ¥30,000: ¥660<br>
        - Up to ¥100,000: ¥880<br>
        - Up to ¥300,000: ¥1,100<br>
        <br>
        COD is unavailable for orders over ¥300,000. Refusal of delivery may affect future orders.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">Delivery and Shipping Charges</div>
      <div class="collapse-content">
        <h3>Delivery Destination</h3>
        <p>We deliver to the address provided at checkout. Each address requires a separate order.</p>
        <h3>Delivery Method</h3>
        <p>Orders are delivered via Yamato Transport. You'll receive a shipping confirmation email with tracking information.</p>
        <h3>Delivery Time</h3>
        <p>Orders usually ship within two business days. Delays may occur during busy periods or due to stock issues.

        We do not ship on weekends, national holidays, or special holidays.</p>
        <h3>Delivery Date and Time Specification</h3>
        <p>While we don't guarantee specific delivery times, you may request preferred delivery slots during checkout:
        <br><br>
        - Morning<br>
        - 14:00-16:00<br>
        - 16:00-18:00<br>
        - 18:00-20:00<br>
        - 19:00-21:00<br>
        </p>
        <h3>Shipping Fees</h3>
        <p>Enjoy free shipping across Japan.</p>
        <h3>Delivery Status</h3>
        <p>Track your order using the inquiry number provided in your shipping confirmation email on the Yamato Transport website. For issues, please contact the delivery company directly.</p>
        <h3>Absentee Ballots</h3>
        <p>If you're not home, Yamato Transport will leave a "delivery notice." Arrange a new delivery date within a week. Failure to do so may incur return shipping fees.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">Domestic and International Shipping</div>
      <div class="collapse-content">
        <h3>Delivery Destination</h3>
        <p>We deliver to the address provided at checkout, both domestically within Japan and internationally to select countries. Each address requires a separate order. Availability is determined based on your location during checkout.</p>
        <h3>Domestic Shipping (Japan)</h3>
        <p>Orders are delivered via Yamato Transport, a trusted shipping service within Japan. You will receive a shipping confirmation email with tracking information once your order has been dispatched.</p>
        <h3>Delivery Time</h3>
        <p>Orders typically ship within two business days. Delays may occur during busy periods or due to stock availability. We do not ship on weekends, national holidays, or special holidays.</p>
        <h3>Delivery Date and Time Specification</h3>
        <p>While we cannot guarantee specific delivery times, you may request preferred delivery slots during checkout:
        <br><br>
        Morning<br>
        14:00-16:00<br>
        16:00-18:00<br>
        18:00-20:00<br>
        19:00-21:00<br>
        </p>
        <h3>Shipping Fees</h3>
        <p>Enjoy free shipping across Japan for all orders.</p>
        <h3>Delivery Status</h3>
        <p>You can track your order using the tracking number provided in your shipping confirmation email via Yamato Transport's tracking system.</p>
        <h3>Absentee Ballots</h3>
        <p>If you are not home when the delivery is made, Yamato Transport will leave a "delivery notice." You can reschedule your delivery within a week. Failure to arrange redelivery may result in return shipping fees.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">International Shipping</div>
      <div class="collapse-content">
        <h3>Delivery Method</h3>
        <p>International orders are shipped via Japan Post to select countries. You will receive a shipping confirmation email with tracking details once your order has been dispatched.</p>
        <h3>Delivery Time</h3>
        <p>International shipping typically takes 7-14 business days, depending on the destination. However, delays may occur due to customs clearance, busy seasons, or other unforeseen circumstances.</p>
        <h3>Shipping Fees</h3>
        <p>Shipping fees for international orders are automatically calculated during checkout based on the destination and total weight of your order. Complimentary shipping may apply for orders exceeding a certain value.</p>
        <h3>Customs and Duties</h3>
        <p>Customs duties, taxes, and additional fees are the responsibility of the customer. These fees vary by country, so we recommend checking with your local customs office for more details.</p>
        <h3>Delivery Status</h3>
        <p>You can track your international order using the tracking number provided in your shipping confirmation email.</p>
        <h3>Disclaimer</h3>
        <p>Customs procedures and processing times vary by country. Kazumasa Kawasaki cannot be held responsible for any delays caused by customs clearance. If you experience significant delays, please contact your local customs office for further assistance.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">Returns and Exchanges</div>
      <div class="collapse-content">
        <h3>When the Product Arrives</h3>
        <p>Upon receipt, verify that the product is correct and undamaged.</p>
        <h3>Returns Policy</h3>
        <p>Returns are accepted within seven days of receipt. Contact the Altis Customer Support Desk with your order number for assistance. Returns cannot be exchanged or replaced with other items. Return conditions apply.</p>
        <h3>Return Conditions</h3>
        <p>Returns must be initiated within seven days of receipt. We cannot accept returns in the following cases:
        <br><br>
        1. Items delivered over eight days ago<br>
        2. Used products<br>
        3. Damaged products in your possession<br>
        4. Customer-modified products<br>
        5. Opened products<br>
        6. Products purchased outside this website<br>
        <br>
        Contact the Altis Customer Support Desk for return authorization. Refunds are processed after the returned item is inspected.</p>
        <h3>Exchange Policy</h3>
        <p>Exchanges are not permitted. Please place a new order for the desired product after completing a return.</p>
        <h3>Returns and Exchanges of Defective Products</h3>
        <p>If you receive a defective or incorrect product, contact us immediately for an exchange or refund. If no stock is available, we'll issue a refund. Contact the Altis Customer Support Desk within seven days of receipt for instructions.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">About This Site</div>
      <div class="collapse-content">
        <p>The Kazumasa Kawasaki Online Shop, operated by Altis Co., Ltd., offers 24/7 shopping from your computer or smartphone.</p>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">About Customer Service</div>
      <div class="collapse-content">
        <p>For questions about products, orders, or delivery, please contact the Altis Customer Support Desk during business hours:
        <br><br>
        Reception Hours: 10:00-17:00 Japan time (excluding weekends, national holidays, and long holidays)
        <br><br>
        TEL: 03-5774-5530 (Japanese only)
        <br><br>
        Email: [customer_support_desk@altiskz.jp]
        <br><br>
        Inquiries received outside business hours will be addressed the next business day. All inquiries are recorded for quality assurance.</p>
      </div>
    </div>

    <h2 class="faq-accordion__category">Academy</h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">Kawasaki Academy: Frequently Asked Questions</div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">What courses are offered at Kawasaki Academy?</h3>
        <p>Kawasaki Academy offers a range of courses designed to enhance both personal and professional development. From basic courses in the Kawasaki Way to specialized programs in beauty, health, and well-being, our curriculum is tailored to meet diverse needs.</p>
        <h3>Who can enroll in Kawasaki Academy?</h3>
        <p>Our courses are open to everyone, whether you are pursuing personal growth, a hobby, or a professional career in beauty and wellness. We welcome individuals from all backgrounds who are passionate about improving their inner and outer beauty.</p>
        <h3>How do I apply for a course at Kawasaki Academy?</h3>
        <p>To apply, simply visit our website and fill out the online application form. We recommend applying early, as our courses tend to fill up quickly due to high demand.</p>
        <h3>Are there any prerequisites for enrolling in the Academy's courses?</h3>
        <p>There are no specific prerequisites for most of our courses. However, for advanced programs, prior experience in the field may be beneficial. Each course description on our website provides detailed information on any recommended experience or background.</p>
      </div>
    </div>

    <h2 class="faq-accordion__category">Le Spa</h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">Le Spa: Frequently Asked Questions</div>
      <div class="collapse-content">
        <h3 class="faq-accordion__subtitle">What makes the treatments at Le Spa unique?</h3>
        <p>At Le Spa, we offer a revolutionary approach to beauty and wellness. Our treatments involve multiple therapists working in perfect harmony, rotating seamlessly to treat your entire body. This method ensures that each area is thoroughly rejuvenated, delivering exceptional results in a short time.</p>
        <h3>How long does a typical treatment session last?</h3>
        <p>Treatment sessions at Le Spa typically last 12 minutes. Despite the brief duration, the synergistic approach of our therapists ensures a comprehensive and effective experience that leaves you feeling revitalized.</p>
        <h3>Can I request a specific therapist for my treatment?</h3>
        <p>While we cannot guarantee the availability of specific therapists, all our staff are highly trained professionals who have undergone extensive training at Kawasaki Academy. Rest assured, you will receive exceptional care and expertise with every visit.</p>
        <h3>How do I book a treatment at Le Spa?</h3>
        <p>Booking a treatment at Le Spa is easy. You can make a reservation through our online booking system or by contacting us directly. We recommend booking in advance to secure your preferred time slot.</p>
      </div>
    </div>

    <h2 class="faq-accordion__category">General</h2>
    <div class="collapse collapse-plus">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">General: Frequently Asked Questions</div>
      <div class="collapse-content">
        <h3>What is the Kawasaki Way?</h3>
        <p>The Kawasaki Way is a holistic approach to beauty and health, rooted in the belief that true beauty emerges when there is harmony between the body and mind. Our methods and products are designed to enhance both your internal well-being and external appearance.</p>
        <h3>How do I contact customer service?</h3>
        <p>For any inquiries or assistance, please contact our customer service team. We are available Monday through Friday, from 10:00 AM to 5:00 PM Japan time, excluding national holidays. You can reach us by phone or email.</p>
        <h3>What payment methods do you accept?</h3>
        <p>We accept a variety of payment methods, including credit cards (VISA, MasterCard, AMEX, JCB, Diners Club), PayPal, and cash on delivery for domestic orders within Japan.</p>
        <h3>Can I return or exchange a product?</h3>
        <p>Yes, we offer a return and exchange policy within 7 days of receiving your order. Please refer to our Returns and Exchanges section for detailed instructions on how to proceed.</p>
      </div>
    </div>
  </div>
</section>

<script>

  const classes = [
    '.faq-accordion__anim1',
  ]

  classes.forEach((cls) => {
    gsap.from(cls, {
      bottom: "-100",
      position: 'relative',
      opacity: 0,
      duration: 1,
      delay: 0.1,
      ease: "power3.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: cls,
        start: "top 80%",
      }
    })
  })

</script>