<style>
  /* NAV */
  .header-wrapper {
    position: absolute;
    width: 100%;
    background: none;
    filter: invert(1);
    border: none;
  }

  /* HERO */
  .kkWay-hero {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kawasaki_way_bg.svg?v=1725525516');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .kkWay-hero__container {
    padding: 100px 20px;
    text-align: center;
  }

  .kkWay-hero__subtitle {
    color: #DF1616;
    text-align: center;
    text-shadow: 0px 4px 44px rgba(0, 0, 78, 0.25);
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    letter-spacing: 1.62px;
    text-transform: uppercase;
  }

  .kkWay-hero__title {
    color: #FFF;
    font-family: "Bodoni Moda", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 96px */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-hero__text {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    max-width: 812px;
    margin: 0 auto;
    text-wrap: pretty;
  }

  .kkWay-hero__link {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 50px;
  }

  @media (orientation: portrait) {
    .kkWay-hero {
      height: 100%;
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 600px) {
    .kkWay-hero__title {
      font-size: 32px;
    }
  }

  /* PHILO */
  .kkWay-philo {
    background: url('https://cdn.shopify.com/s/files/1/0892/7651/4595/files/bg_1.jpg?v=1724999756');
    background-size: cover;
    background-position: center;
  }

  .kkWay-philo__container {
    padding: 100px 12.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kkWay-philo__container > div {
    max-width: 546px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .kkWay-philo__logo {
    width: 21.438vw;
    max-width: 343.001px;
  }

  .kkWay-philo__title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-philo__text {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0 0 50px;
  }

  .kkWay-philo__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  /* ABOUT */
  .kkWay-about {
    background: #F6F6F6;
  }

  .kkWay-about__container {
    padding: 100px 20px;
  }

  .kkWay-about__title {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .kkWay-about__subtitle {
    color: #000;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 70px;
  }

  .kkWay-about__container > div {
    display: flex;
    gap: 8.563vw;
  }

  .kkWay-about__left {
    position: relative;
  }

  .kkWay-about__quoteImg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .kkWay-about__quote {
    color: #000;
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    padding-top: 78px;
    display: block;
    margin: 0 0 16px;
  }

  .kkWay-about__signature {
    display: block;
    margin: 0 0 40px auto;
  }

  .kkWay-about__text {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-right: 14.563vw;
  }

  .kkWay-about__img {
    width: 42.688vw;
    max-width: 683px;
    object-fit: cover;
    height: 58.625vw;
    max-height: 938px;
    object-position: 0;
  }

  /* STORY */
  .kkWay-story {
    background: #F6F6F6;
  }

  .kkWay-story__container {
    padding: 100px 0 600px;
  }

  .kkWay-story__title {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-story__text {
    color: #111;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin: 0 auto 70px;
    max-width: 900px;
  }

  .kkWay-story__timeline {
    position: relative;
    margin: 600px 0;
  }

  .kkWay-story__mainLine {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 78, 0.30);
    display: block;
    position: absolute;
    top: 50%;
  }

  .kkWay-story__card {
    position: absolute;
    bottom: 0;
    left: 174px;
    padding-bottom: 53px;
  }

  .kkWay-story__cardCircle {
    width: 30px;
    height: 30px;
    background: #1C1952;
    border-radius: 100px;
    left: -15px;
    display: block;
    position: absolute;
    top: 20px;
  }

  .kkWay-story__cardTitle {
    padding-left: 31px;
    color: #000;
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .kkWay-story__cardText {
    padding-left: 31px;
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin: 0;
    width: 100%;
    max-width: 255px;
    border: 2px solid red;
  }

  .kkWay-story__card.y2003 {
    left: 391px;
    top: 50px;
  }

  .kkWay-story__card.y2004 {
    left: 756px;
    bottom: 229px;
  }

  .kkWay-story__card.y2008 {
    left: 816px;
  }

  /* EFFECT */
  .kkWay-effect__container {
    padding: 100px 20px;
    display: grid;
    gap: 97px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .kkWay-effect__container > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 14.563vw;
  }

  .kkWay-effect__title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .kkWay-effect__text {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0 0 50px;
  }

  .kkWay-effect__button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00004E;
  }

  .kkWay-effect__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    height: auto;
  }
</style>

<section class="kkWay-hero">
  <div class="kkWay-hero__container page-width">
    <span class="kkWay-hero__subtitle">Treatment and Products</span>
    <h1 class="kkWay-hero__title">the Kawasaki Way</h1>
    <p class="kkWay-hero__text">Discover the transformative power of The Kawasaki Way, where your appearance and
      internal health unite in harmonious balance. Our original products, crafted from meticulously selected Japanese
      plant materials, offer a holistic daily care routine for your face and body. Experience the profound benefits of
      The Kawasaki Way, a method that swiftly enhances both your inner well-being and outward appearance. Embrace
      change, for when your appearance transforms, so does your inner self, and when your inner self evolves, your
      beauty shines even brighter.</p>
    <a class="kkWay-hero__link">learn more</a>
  </div>
</section>

<section class="kkWay-philo">
  <div class="kkWay-philo__container page-width">
    <img class="kkWay-philo__logo" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/kk-wa-logo.svg?v=1726192223" />
    <div>
      <h2 class="kkWay-philo__title">Our Philosophy</h2>
      <p class="kkWay-philo__text">At the heart of Kazumasa Kawasaki lies the Japanese character “和 (KAZU),” representing peace, harmony, and Japan itself. This symbol graces our products, embodying the philosophy that internal and external harmony is the key to unlocking your natural beauty. As Kazumasa Kawasaki believes, true beauty emerges when body and mind are in perfect sync.</p>
      <a class="kkWay-philo__button">shop now</a>
    </div>
  </div>
</section>

{% section 'kk-way' %}

<section class="kkWay-about">
  <div class="kkWay-about__container page-width">
    <h2 class="kkWay-about__title">KAZUMASA KAWASAKI</h2>
    <h3 class="kkWay-about__subtitle">A Life of Harmony and Transformation</h3>
    <div>
      <div class="kkWay-about__left">
        <img class="kkWay-about__quoteImg" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/quote-icon.svg?v=1726193824" />
        <span class="kkWay-about__quote">My goal is not only to change the appearance of someone I have been destined to meet, but also to make that person happier. If every single person becomes happy, the earth will be a happier, peaceful place.</span>
        <img class="kkWay-about__signature" src="https://cdn.shopify.com/s/files/1/0892/7651/4595/files/KKsign1_1.svg?v=1726193981" />
        <p class="kkWay-about__text">Kazumasa Kawasaki's journey to well-being and beauty began with a personal health challenge. During his recovery, he discovered the healing power of traditional Japanese fermented foods, which inspired him to develop The Kawasaki Way. This method emphasizes the harmony between inner well-being and outer beauty, bringing out the unique beauty in each individual.
          Kazumasa Kawasaki's products—Mist, Essence, and Plant Fermentation Food—are crafted with natural ingredients that work synergistically to achieve remarkable results. Since 1998, The Kawasaki Way has transformed the lives of over 100,000 people, including leading sports personalities, actors, musicians, and supermodels worldwide.
          Kazumasa's philosophy centers on the belief that every person deserves happiness, and through beauty and wellness, we can create a more harmonious world.</p>
      </div>
      {{ images['kk-photo.png'] | image_url: width: 1000 | image_tag: class: 'kkWay-about__img' }}
    </div>
  </div>
</section>

<section class="kkWay-story">
  <div class="kkWay-story__container">
    <h2 class="kkWay-story__title">Story</h2>
    <p class="kkWay-story__text">Kazumasa Kawasaki's innovative approach has been featured on TV, in magazines, and across media worldwide. He continues to expand his influence in diverse fields, embodying a commitment to holistic beauty and well-being.</p>
    <div class="kkWay-story__timeline">
      <span class="kkWay-story__mainLine"></span>

      <div class="kkWay-story__card">
        <span class="kkWay-story__cardCircle"></span>
        <h3 class="kkWay-story__cardTitle">1998</h3>
        <p class="kkWay-story__cardText">Began beauty and health activities inspired by personal health challenges.</p>
      </div>

      <div class="kkWay-story__card y2003">
        <span class="kkWay-story__cardCircle"></span>
        <h3 class="kkWay-story__cardTitle">2003</h3>
        <p class="kkWay-story__cardText">Presented products to Pope John Paul II, receiving gratitude from the Vatican. Invited to perform treatments for cardinals and scholars.</p>
      </div>
      
      <div class="kkWay-story__card y2004">
        <span class="kkWay-story__cardCircle"></span>
        <h3 class="kkWay-story__cardTitle">2004</h3>
        <p class="kkWay-story__cardText">Met with Italian Undersecretary of Foreign Affairs, featured in Italian media. Collaborated with the Italian Association of Friends of Parkinson's Disease.</p>
      </div>

      <div class="kkWay-story__card y2008">
        <span class="kkWay-story__cardCircle"></span>
        <h3 class="kkWay-story__cardTitle">2008</h3>
        <p class="kkWay-story__cardText">Gained acclaim in New York, treated VIPs, and featured in international media.</p>
      </div>

    </div>
  </div>
</section>

<section class="kkWay-effect">
  <div class="kkWay-effect__container page-width">
    {{ images['kk-way-effect.jpg'] | image_url: width: 1000 | image_tag: class: 'kkWay-effect__img' }}
    <div>
      <h2 class="kkWay-effect__title">the kawasaki way effect</h2>
      <p class="kkWay-effect__text">Please read a story of a professional race car driver Naoki Yokomizo whose life was transformed by the Kawasaki Way.</p>
      <a class="kkWay-effect__button">learn more</a>
    </div>
  </div>
</section>